

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://static.gcimg.net/sys/??wp/1.0.1/main.css,search/1.0.0/search-global.css" />
    <link rel="stylesheet" href="http://static.gcimg.net/shop/skin/t000/style.css" />
    <link rel="shortcut icon" href="//static.gcimg.net/favicon.ico" type="image/x-icon" />
    <link rel="alternate" media="only screen and(max-width: 640px)" href="http://m.gongchang.com/shop/heshitools/" >
    <meta name="mobile-agent" content="format=xhtml;url=http://m.gongchang.com/shop/heshitools/">
    <meta name="mobile-agent" content="format=html5;url=http://m.gongchang.com/shop/heshitools/">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>

    <link type="text/css" rel="stylesheet" href="//static.gcimg.net/assets/core/popup/1.0.0/css/popup_9549eaf.css" />
    <link type="text/css" rel="stylesheet" href="//static.gcimg.net/assets/sys/common/1.0.0/usertop_d923ba4.css" />
    <link type="text/css" rel="stylesheet" href="//static.gcimg.net/assets/sys/shop/1.0.0/css/style_0d7d914.css" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?1feded28e200c1f62aa6738cb40e9f68";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
        /* 这个放到商铺样式里 */
        .usertop .fir {
            width: auto;
        }

        .usertop .top-inner {
            width: 980px;
        }
    </style>
    <title>后台</title>



    <include file="default/header"/>


</head>
<body>
<!--商铺头部及导航-->

    <!--商铺头部及导航结束-->
    <div id="content">
        <!--左边主题板块-->
        <div class="grid-sub fl">
            
            <!--企业介绍-->
            <div class="mod mod-prointro">
                <div class="m-body">
                    <div class="m-header">
                        <h3>已上传产品</h3>
                    </div>
                    <div class="m-content">
                        <div class="prointro-list">
                            <ul>
                                <li><a href="{:U('home/editor/index')}">查看已上传产品</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--企业介绍结束-->
            <!--产品分类-->
            <div class="mod mod-proclass">
                <div class="m-body">
                    <div class="m-header">
                        <h3>产品分组</h3>
                    </div>
                    <div class="m-content">
                        <div class="proclass-list">
                            <ul>
                        <foreach name="group" item="group_id">
                                <li class="expand">
                                    <div class="side-sort-parent">
                                        <a href="{:U('home/default/show_group')}?group_id={$group_id.group_id}" title="">{$group_id.group_name}</a>
                                    </div>
                                </li>
                        </foreach>


                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!--产品分类结束-->

            <!--左边相册-->
            <div class="mod mod-propicl">
                <div class="m-body">
                    <div class="m-header">
                        <h3>操作</h3>
                    </div>
                    <div class="m-content">
                        <div class="no-content"><a href="{:U('home/editor/del_product')}?product_id={$product_info.product_id}"><p>删除该产品</p></a></div>

                    </div>
                </div>
            </div>
            <!--左边相册结束-->
  
        </div>
        <!--左边主题板块结束-->
        <!-- 右面主题板块-->
        <div class="main-wrap fr">
         
            <!--最新产品-->
            <div class="mod mod-starpro">
                <div class="m-body">
                    <div class="m-header"><h3 title="产品展示">产品详情</h3></div>
                                            
                            <!-- <ul > -->
                                
                                <foreach name="pic_info" item="vo">
                                    
                                            
                                                <if condition="$vo.default eq 1">
                                                    
                                            <img style="width:300px;height:250px; max-width:100%;max-height:100%;" src="/Uploads/product/{$vo.product_id}/{$vo.pic_name}" alt="供应羊毛球、海棉球">
                                                 </if>
                                            </foreach>                      
                                
                            <!-- </ul> -->                        
                    
                </div>
            </div>

            <form action="__URL__/modify" method="get">

            <div class="mod mod-pronews">
                <div class="m-body">
                    <div class="m-header"><h3 title="产品简介">产品名称</h3></div>
                    <div class="m-content">
                        <empty name="product_info">
                            <div class="no-content"><p>暂无简介</p></div>
                            <else />
                             <textarea  name="title" cols="30" rows="2">{$product_info.title}</textarea> 
                        </empty>
                    </div>
                </div>
            </div>
            
            
            <div class="mod mod-pronews">
                <div class="m-body">
                    <div class="m-header"><h3 title="产品简介">产品简介</h3></div>
                    <div class="m-content">
                        <empty name="product_info">
                            <div class="no-content"><p>暂无简介</p></div>
                            <else />
                             <textarea  name="content" cols="80" rows="6">{$product_info.content}</textarea> <br>
                             <input type="hidden" value="{$product_info.product_id}" name="product_id">
                             <input type="submit" value="修改产品名称和介绍">
                        </empty>
                    </div>
                </div>
            </div>
            </form>
            
            
            <div class="mod mod-contact">
                <div class="m-body">
                    <div class="m-header"><h3 title="图片信息">图片信息</h3></div>
                    <div class="m-content">
                        <div>
                            <form action="__URL__/add_img" enctype="multipart/form-data" method="post">
                            <?php $i=1;?>
                            <foreach name='pic_info' item='vo'>
                                <?php if($i != 1){ ?>
                                <a href="{:U('home/editor/del_img')}?pic_name={$vo.pic_name}&product_id={$vo.product_id}">
                                <input type="button"  value="删除下面图片"></a>  <br>
                                <?php } $i++;?>
                        <img  src="/Uploads/product/{$vo.product_id}/{$vo.pic_name}" alt="供应羊毛球、海棉球"><br>
                        <br><hr>    

                            </foreach>
                            <br>
                            <p>添加图片</p>
                            <input type="hidden" value="{$vo.product_id}" name="product_id">
                            <input type="file" name="pic1"><br>
                            <input type="submit" value="上传图片">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--联系方式结束-->
        </div>
        <!-- 右面主题板块结束-->
    </div>

    <!--商铺底部-->

    <!--商铺底部结束-->
</div><!--//id="page-wrapper"-->


<!-- 在线客服 -->




</body>

</html>
