<include file="header"/>


<div class="nrong">

    <div class="nrong_1">
        <div style="margin-bottom:3px;"></div>

        <div class="ndh">

            <ul>

                <li><a title="公司概况"  href="#" id="141"><p>  </p></a></li>

            </ul>

        </div>



    </div>
    <!--<div class="nong_2"></div>-->



    <div class="nrong_3" STYLE="width: 800px ;">


        <div style=" line-height:24px; text-align:left; padding:20px 5px 15px 10px;">

            <div class="content" style="color: rgb(51, 51, 51); font-family: Simsun;">
                <p style="margin: 0px 0px 16px; padding: 0px; line-height: 26px; font-size: 14px; text-indent: 2em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong></strong></p>
                <p style="margin: 0px 0px 16px; padding: 0px; line-height: 26px; font-size: 14px; text-indent: 2em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tel:+86 (0)17004961334</p>
                <p style="margin: 0px 0px 16px; padding: 0px; line-height: 26px; font-size: 14px; text-indent: 2em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Web:www.we-lighting.com</p>

                <p style="margin: 0px 0px 16px; padding: 0px; line-height: 26px; font-size: 14px; text-indent: 2em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:<span style="color: rgb(51, 51, 51); font-family: Simsun; font-size: 14px; line-height: 26px; text-indent: 28px;">alexchow@we-lighting.com</span></p>
                <p style="margin: 0px 0px 16px; padding: 0px; line-height: 26px; font-size: 14px; text-indent: 2em;">
                </p>


            </div>



        </div>
    </div>


<include file="footer"/>
