
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="http://static.gcimg.net/sys/??wp/1.0.1/main.css,search/1.0.0/search-global.css" />
<link rel="stylesheet" href="http://static.gcimg.net/shop/skin/t000/style.css" />
<link rel="shortcut icon" href="//static.gcimg.net/favicon.ico" type="image/x-icon" />
    <link rel="alternate" media="only screen and(max-width: 640px)" href="http://m.gongchang.com/shop/heshitools/contact/" >
    <meta name="mobile-agent" content="format=xhtml;url=http://m.gongchang.com/shop/heshitools/contact/">
    <meta name="mobile-agent" content="format=html5;url=http://m.gongchang.com/shop/heshitools/contact/">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>
<link type="text/css" rel="stylesheet" href="//static.gcimg.net/assets/core/popup/1.0.0/css/popup_9549eaf.css" />
<link type="text/css" rel="stylesheet" href="//static.gcimg.net/assets/sys/shop/1.0.0/css/style_0d7d914.css" />
<script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?1feded28e200c1f62aa6738cb40e9f68";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
<style>
    /* 这个放到商铺样式里 */
    .usertop .fir {
        width: auto;
    }
    
    .usertop .top-inner {
        width: 980px;
    }
</style>
    <title>销售部:0592-2991222-厦门睿智达有限公司联系方式</title>

</head>
<body>


<div id="header">
<!-- 企业头部-->
<div class="mod mod-shopsigns">
    <div class="company fl">
                    <div class="company-logo fl">
            <a href="#"> <img src="" alt="厦门睿智达有限公司" /></a>
        </div>
                <div class="company-name fl">
            <h1 class="com-name">厦门睿智达有限公司</h1>
            <p class="com-pro">
                                        <span>主营：</span>引擎检测工具、轮胎护理工具、制冷工具、汽车美容养护工具、汽车工具、工具车等
                        </p>
        </div>
    </div>
    <div class="call-num fr">
        <p class="call-number">
                            0592-2991222                  </p>
    </div>
            <div id="top-ad1">
            <div id="AD871970">
                <script type="text/javascript">BAIDU_CLB_fillSlot("871970");</script>
            </div>
        </div>
    </div>
<!-- 企业头部结束-->
<!-- 导航-->
<div class="mod mod-topnav">
    <ul class="shop-nav">
    <li ><a href="{:U('home/default/index')}" title="首页">首页</a></li>
    <li ><a href="{:U('home/default/show_introduce')}" title="企业介绍">企业介绍</a></li>
    <li class="current"><a href="{:U('home/default/contact_us')}" title="联系我们">联系我们</a></li>
    </ul>
</div>


<!--商铺头部及导航结束-->
<div id="content">
<!--左边主题板块-->
<div class="grid-sub fl">
       
               
              
                <!--产品分类-->
        <div class="mod mod-proclass">
          <div class="m-body">
            <div class="m-header">
                <h3>产品分组</h3>
            </div>
            <div class="m-content">
                            <div class="proclass-list">
                <ul>
                    <foreach name="group" item="group_id">
                                     <li class="expand">
                                    <div class="side-sort-parent">
                                        <a href="{:U('home/default/show_group')}?group_id={$group_id.group_id}" title="">{$group_id.group_name}</a>
                                    </div>
                                    </li>
                    </foreach>                                            
                </ul>
              </div>
                        
            </div>
          </div>
        </div>
        <!--产品分类结束-->

         <!--左边相册-->
        <div class="mod mod-propicl">
          <div class="m-body">
            <div class="m-header">
                <h3>企业相册</h3>
            </div>
            <div class="m-content">
                            <div class="no-content"><p>暂无企业相册</p></div>
                            
            </div>
          </div>
        </div>
        <!--左边相册结束-->
                
                <!--友情链接-->
        <div class="mod mod-friendlink">
          <div class="m-body">
            <div class="m-header">
                <h3>友情链接</h3>
            </div>
            <div class="m-content">
                            <!-- 点金台用户用js输出友链，非点金台代码输出 -->
                <div class="friendlink-list">
                                    <ul>
                                <li>
                                    <a data-exposure="6579,167392,0" href="http://dgrunyuwujin.cn.gongchang.com/" title="东莞市常平润宇五金电子厂" target="_blank">东莞市常平润宇五金电子厂</a>
                                </li>
                                                    
                                </ul>
                                </div>
                        </div><!-- m-content -->
          </div>
        </div>
        <!--友情链接结束-->
               
        </div>
<!--左边主题板块结束-->
<!-- 右面主题板块-->
<div class="main-wrap fr">
    <!--明星产品-->
    <div class="mod mod-starpro">
        <div class="m-body">
                        <div class="m-header"><h3>联系我们</h3></div>
            
            
                        <div class="m-content">
                <div class="pro-contactway">
                    <!--联系人资料显示-->
                    <div class="contact-detail">
                        <div class="contact-detailt">
                            <div class="card-imgdetail">
                            <img src="__PUBLIC__/images/sell.gif" width="65" height="65" alt="销售部" />
                                <div class="card-person">
                                    <p><strong>销售部</strong>                                 </p>
                                    <p>手机：13850001163<small> 蓝国昌</small></p>
                                    <div></div>
                                </div>
                            </div>
                            <h4>厦门睿智达有限公司</h4>
                            <div class="card-info">
                                <p class="text-in222">电话：<span>0592-2991222</span></p>
                                <p class="text-in222">传真：<span>0592-5288823</span></p>
                                <p class="text-in222">地址： <span>厦门市悦华路163号-193号J-7店面</span></p>
                                <p class="text-in222">邮编：<span>361000</span></p>
                                <p class="text-in333">公司主页：<span><a href="http://www.heshitools.com" target="_blank" title="厦门睿智达有限公司"  rel="nofollow">http://www.heshitools.com</a></span></p>
                            </div>
                        </div>
                        <div class="contact-detailb"></div>
                    </div>
                    <!--联系人资料显结束示-->
                                            
                                        <!-- 地图显示-->
                    <div class="contactway-map" id="map">
                        <div id='commap'></div>
                        <div id="test" style=" border:1px ; width:700px; height:500px"></div>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PO4LwuGHkLmU8qw5Zph4iB7P"></script>
                         <script type="text/javascript">
                                var map = new BMap.Map("test");    // 创建Map实例
                                var point = new BMap.Point(118.122853,24.520915);
                                var marker = new BMap.Marker(point);
                                map.addOverlay(marker);
                                map.centerAndZoom(point, 18);  // 初始化地图,设置中心点坐标和地图级别
                                map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
                                map.setCurrentCity("厦门睿智达有限公司"); // 设置地图显示的城市 此项是必须设置的
                                map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

                                var opts = {
                                    width:200,
                                    height:100,
                                    title: "厦门睿智达有限公司",
                                    enableScrollWheelZoom:true,
                                    message:"look at this"
                                }

                                var infoWindow = new BMap.InfoWindow("地址：厦门市悦华路163号-193号J-7店面",opts);
                                marker.addEventListener("click",function(){
                                    map.openInfoWindow(infoWindow,point);
                                });
                            </script>


                    </div>
                    <!-- 地图显示-->
                </div>
            </div>
        </div>
    </div>
    <!--明星产品结束-->
</div>
<!-- 右面主题板块结束-->
</div>

  
<!--商铺底部-->
<div id="footer">
        <div class="shop-footerb">
            <div class="shop-footer">
                <!--关于我们-->
                <div class="foot-aboutus fl">
                    <h4 class="footer-contact1">关于我们</h4>
                    <div class="ft-abus">
                        <ul>
                            <li>
                                <a href="/about/"  target="_blank">企业简介</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- 主营产品-->
                <div class="foot-product fl">
                    <h4 class="footer-contact2">主营产品</h4>
                    <div class="ft-product">
                        <p>
                            引擎检测工具                                      轮胎护理工具                                      制冷工具                                        汽车美容养护工具                                        汽车工具                                        工具车                                     </p>
                    </div>
                </div>
                <!--联系我们-->
                <div class="foot-contact fl">
                    <h4 class="footer-contact3">联系我们</h4>
                    <div class="ft-contactus">
                        <p>厦门睿智达有限公司</p>
                        <p>地址：厦门市悦华路163号-193号J-7店面</p>
                        <p>电话：0592-2991222</p>
                    </div>
                </div>
                <!--技术支持-->
                <div class="foot-support fl">
                    <div class="ft-techsupport">
                        <p class="clf">
                            <img src="http://static.gcimg.net/i/201510/aagvJEFgZv.gif" alt="世界工厂网"/>
                            <span>技术支持：<a href="#" target="_blank">LEROLIN</a></span>
                            <span class="sup-buttom">Powered by lerolin</span>
                        </p>
                        <p class="record">
                            <span id='gc_com_runtime'>35.14ms</span>
                        </p>
                        <p class="f-stat"></p>
                        <div style="display:none;"></div>
                        <div style="display:none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--商铺底部结束-->
</div><!--//id="page-wrapper"-->



<!-- 在线客服 -->
<script>
    var data ={"user":[{"contact":"蓝国昌","qq":"2096994359","sex":1}],"message":"\u6b22\u8fce\u6765\u5230\u6211\u4eec\u7f51\u7ad9! ","isSelf":0};
</script>

<script>
    window.siteConfig = {
        cateid:'27,6579,0',cid:'167393',comname:'浙江何仕汽车工具有限公司',supid:'1',tjtype:'0',secret:'b26010410e893981458e66e1d647a63e'    };
</script>
<script id="atmjsnode" data-base="//static.gcimg.net/assets" type="text/javascript" src="//static.gcimg.net/assets/core/global/1.0.0/pkg/global_d5d288f.js"  data-config='{"async":{"alias":{"sys/shop/1.0.0:js/rule":"/sys/shop/1.0.0/js/rule_92ba03b.js","verify:main":"/core/verify/1.0.0/exports/main_6b0db03.js"},"deps":{"popup:main":["popup:css/popup.css"],"sys/common/1.0.0:usertop":["sys/common/1.0.0:usertop.css"],"sys/shop/1.0.0:main":["sys/common/1.0.0:usertop.css","sys/shop/1.0.0:css/style.css"]},"exists":{"popup:css/popup.css":1,"sys/common/1.0.0:usertop.css":1,"sys/shop/1.0.0:css/style.css":1}}}' ></script>
<script type="text/javascript" src="//static.gcimg.net/assets/core/cookie/1.0.2/exports/main_88e266d.js"></script>
<script type="text/javascript" src="//static.gcimg.net/assets/sys/common/1.0.0/config_d0ec3b8.js"></script>
<script type="text/javascript" src="//static.gcimg.net/assets/sys/common/1.0.0/usertop_50c5ce1.js"></script>
<script type="text/javascript" src="//static.gcimg.net/assets/core/qrcode2/1.0.0/exports/main_5c60463.js"></script>
<script type="text/javascript" src="//static.gcimg.net/assets/core/search-global/1.0.0/exports/main_a38840a.js"></script>
<script type="text/javascript" src="//static.gcimg.net/assets/sys/shop/1.0.0/js/chat_7f9ffde.js"></script>
<script type="text/javascript" src="//static.gcimg.net/assets/core/popup/1.0.0/exports/main_8c7a6d6.js"></script>
<script type="text/javascript" src="//static.gcimg.net/assets/core/slider/1.1.1/exports/main_aac6302.js"></script>
<script type="text/javascript" src="//static.gcimg.net/assets/lib/jquery/1.11.3/exports/main_a3a5aa9.js"></script>
<script type="text/javascript" src="//static.gcimg.net/assets/sys/shop/1.0.0/exports/main_86dbd60.js"></script>
<script type="text/javascript">

atmjs.use('sys/shop/1.0.0:main')

</script><div style="display:none;">
<script language="javascript" type="text/javascript" src="http://js.users.51.la/2424689.js"></script>
<noscript><a href="http://www.51.la/?2424689" target="_blank" rel="external nofollow"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/2424689.asp" style="border:none" /></a></noscript>
</div></body>
</html>
