<div class="footer">

    <div class="nfooter">
        <ul>
            <li style="border-left:none; margin-left:3px;"><a href="{:U('show_introduce')}">About us</a>



            </li>
            <li><a href="{:U('show_product')}">Product</a>

            </li>

            <li style="width: 160px"><a href="{:U('show_news')}"style="width: 160px">Factory Environment</a>

            </li>

            <li><a href="{:U('contact_us')}">Contact us</a>

            </li>


        </ul>
        <div style=" clear:both;"></div>
    </div>
</div>

<div class="bottom">
        <p>

            中华人民共和国电信与信息服务业务经营许可证<br /> NO 12, Lefeng Second Road, Henglan Town, Zhongshan City, Guangdong Province, China. 服务电话: 0592-5134778 <br />power by： Zhongshan we lighting CO.,LTD



        </p>

    </div>
</div>