<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Zhongshan we lighting CO.,LTD </title>
    <meta name="keywords" content="Zhongshan we lighting CO.,LTD "/>
    <meta name="description" content="Zhongshan we lighting CO.,LTD "/>
    <meta name="author" content="Zhongshan we lighting CO.,LTD "/>
    <meta name="copyright" content="Zhongshan we lighting CO.,LTD "/>
    <meta name="company" content="Zhongshan we lighting CO.,LTD "/>



    <meta content="all" name="robots" />
    <meta name="author" content="" />
    <meta name="技术支持" content="" />
    <link href="__PUBLIC__/css/css3.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/mFYSlider.css" />
    <link rel = "Shortcut Icon" href="/Public/images/favicon.ico">
    <script src="__PUBLIC__/js/jquery-2.0.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/myfocus.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>

    <script type="text/javascript">
        function SetHome(obj, url) {
            try {
                obj.style.behavior = 'url(#default#homepage)';
                obj.setHomePage(url);
            } catch (e) {
                if (window.netscape) {
                    try {
                        netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                    } catch (e) {
                        alert("抱歉，此操作被浏览器拒绝！\n\n请在浏览器地址栏输入“about:config”并回车然后将[signed.applets.codebase_principal_support]设置为'true'");
                    }
                } else {
                    alert("抱歉，您所使用的浏览器无法完成此操作。\n\n您需要手动将【http://www.bes-tj.com/】设置为首页。");
                }
            }
        }


        function addFavorite(title, url) {
            try {
                window.external.addFavorite(url, title);
            }
            catch (e) {
                try {
                    window.sidebar.addPanel(title, url, "");
                }
                catch (e) {
                    alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请进入新网站后使用Ctrl+D进行添加");
                }
            }
        }
        function mose() {
            document.getElementById("mouse").style.display = "inline";
        }
        function out() {
            document.getElementById("mouse").style.display = "none";
        }
    </script>
    <style type="text/css">
    </style>

    <meta content="blendTrans(Duration=0.5)" http-equiv="Page-Enter">
    <meta content="blendTrans(Duration=0.5)" http-equiv="Page-Exit">

    <script src="/sysaspx/common.js" type="text/javascript"></script>
</head>

<body>
<div class="container">
    <div class="top">
        <div class="top_l" style="width: 760px;">
            <img style="height: 94px;width: 94px;float:left;" src="/Public/images/Logo.jpg" alt=""/>
            <br>
            <p  style="font-size:38px;color: #708090;float:left;">ZHONGSHAN WE LIGHTING CO.,LTD</p>
            <div style="float:left;"> </div>
            <div></div>&nbsp;&nbsp;&nbsp;&nbsp;

        </div>

        <div class="search2"style="">
            <p class="yuyan" style="font-size: 15px;float:right;padding-left: 200px; "> <a href="https://www.facebook.com/Zhongshan-We-Lighting-Co-Ltd-710123212513550/"><input type="image" style="cursor: pointer;width: 15px;height: 15px;" src="/Public/images/facebook.jpeg" /></a>   </p>



        </div>
        <div style=" clear:both;"></div>
    </div>
    <div class="dh">


        <div class="Navbar">
            <div class="wrapper">
                <ul>
                    <li><a onFocus="this.blur();" href="/" id="Tablis0">Home</a></li>
                    <li class="down2" onMouseOver="this.className='down1'" onMouseOut="this.className='down2'"><a onFocus="this.blur();" href="{:U('show_introduce')}" id="Tablis1" class="tp">About us</a>

                    </li>

                    <li class="down2" onMouseOver="this.className='down1'" onMouseOut="this.className='down2'"><a onFocus="this.blur();" href="{:U('show_product')}" id="Tablis4" class="tp">Product</a>

                    </li>

                    <li class="down2" style="width: 160px"   onMouseOver="this.className='down1'" onMouseOut="this.className='down2'"><a onFocus="this.blur();" href="{:U('show_news')}" id="Tablis7" style="width: 160px" class="tp">Factory Environment</a>

                    </li>


                    </li>

                    <li class="down2" onMouseOver="this.className='down1'" onMouseOut="this.className='down2'"><a onFocus="this.blur();" href="{:U('contact_us')}" id="Tablis7" class="tp">Contact us</a>

                    </li>



                </ul>
                <div class="clear"></div>
            </div>
        </div><!-- Navbar over -->



        <style>
            body {font-family: Arial;}

            *{ margin:0; padding:0; list-style:none;}
            img{ border:0;}
            .lanren{ position:absolute; right:0; top:150px;}
            .lanren .slide_min{ width:28px; height:112px; background:url(http://demo.lanrenzhijia.com/2014/service1205/images/slide_min.jpg) no-repeat; cursor:pointer;}
            .lanren .slide_box{ width:154px; height:auto; overflow:hidden; background:url(http://demo.lanrenzhijia.com/2014/service1205/images/slide_box_bg.jpg) repeat-y; font-size:12px; text-align:center; line-height:130%; color:#666; border-bottom:2px solid #76A20D;}
            .lanren .slide_box .weixin{ margin-bottom:5px;}
            .lanren .slide_box img{ cursor:pointer;}
            .lanren .slide_box p{ text-align:center; padding:5px; margin:5px;border-bottom:1px solid #ddd;}
            .lanren .slide_box span{ padding:5px 10px; display:block;}
            .lanren .slide_box span a{ color:#76A20C;}
        </style>


        <script>
            $(function(){
                var thisBox = $('.lanren');
                var defaultTop = thisBox.offset().top;
                var slide_min = $('.lanren .slide_min');
                var slide_box = $('.lanren .slide_box');
                var closed = $('.lanren .slide_box h2 img');
                slide_min.on('click',function(){$(this).hide();	slide_box.show();});
                closed.on('click',function(){slide_box.hide().hide();slide_min.show();});
                // 页面滚动的同时，悬浮框也跟着滚动
                $(window).on('scroll',function(){scro();});
                $(window).onload = scro();
                function scro(){
                    var offsetTop = defaultTop + $(window).scrollTop()+'px';
                    thisBox.animate({top:offsetTop},
                            {	duration: 600,	//滑动速度
                                queue: false    //此动画将不进入动画队列
                            });
                }
            });
        </script>
        <!--<div class="lanren">-->
            <!--<div class="slide_min"></div>-->
            <!--<div class="slide_box" style="">-->
                <!--<h2><img src="http://demo.lanrenzhijia.com/2014/service1205/images/slide_box.jpg" /></h2>-->
                <!--<p><a title="点击这里给我发消息" href="tencent://message/?uin=233567324&Site=&menu=yes" target="_blank"><img src="http://wpa.qq.com/pa?p=2:233567324:41"></a></p>-->
                <!--<p><a title="点击这里给我发消息" href="tencent://message/?uin=303390237&Site=&menu=yes" target="_blank"><img src="http://wpa.qq.com/pa?p=2:303390237:41"></a></p>-->

                <!--<p>-->
                    <!--<b>客户服务热线</b><br />-->
                    <!--18150898930<br/>-->
                    <!--18759278269-->
                <!--</p>-->
                <!--<span><a href="#">给我们留言</a></span>-->
            <!--</div>-->
        <!--</div>-->