

<include file="header"/>

        <script>
            function GetUrlName(){
                var url=window.location.href.toLowerCase();
                if(url.indexOf("?")!=-1){
                    url=url.substring(url.lastIndexOf("/")+1,url.indexOf("?"));
                }else{
                    url=url.substring(url.lastIndexOf("/") + 1);
                }
                return url;
            }
            function GetUrlParms(){
                var parms=location.search.substring(1);
                parms=parms.toLowerCase();//加上这句
                return GetParms(parms);
            }
            function GetParms(parms){
                var args=new Object();
                var pairs=parms.split("&");//在逗号处断开
                for(var i=0;i<pairs.length;i++)
                {
                    var pos=pairs[i].indexOf('=');//查找name=value
                    if(pos==-1)   continue;//如果没有找到就跳过
                    var argname=pairs[i].substring(0,pos);//提取name
                    var value=pairs[i].substring(pos+1);//提取value
                    args[argname]=decodeURIComponent(value);//存为属性
                }
                return args;
            }
            function Header(){
                var urlName=GetUrlName();
                var urlParm=GetUrlParms();
                //var Tabul=document.getElementById("navon"); //这里放ul的id
                var strmax=9;
                for(var i=0;i<strmax;i++){
                    document.getElementById('Tablis'+i).className="tp";
                }
                if(urlName=="index.aspx"){
                    document.getElementById('Tablis0').className="on";
                }else if(urlName=="about.aspx"){
                    document.getElementById('Tablis1').className="on";
                }else if(urlName=="culture.aspx"){
                    document.getElementById('Tablis2').className="on";
                }else if(urlName=="hycy.aspx"){
                    document.getElementById('Tablis3').className="on";
                }else if(urlName=="pro.aspx"){
                    document.getElementById('Tablis4').className="on";
                }else if(urlName=="cxjs.aspx"){
                    document.getElementById('Tablis5').className="on";
                }else if(urlName=="news.aspx"){
                    document.getElementById('Tablis6').className="on";
                }else if(urlName=="jobs.aspx"){
                    document.getElementById('Tablis7').className="on";
                }else if(urlName=="contact.aspx"){
                    document.getElementById('Tablis8').className="on";
                }
            }
            Header();
        </script>


        <div style=" clear:both;"></div>
    </div>
    <div class="banner">

        <div class="focus">

            <div id="myFocus-wrap">
                <div id="myFocus" style="visibility:hidden"><!--焦点图盒子-->
                    <ul class="pic"><!--内容列表-->

                        <li><a href="pro.aspx"><img src="__PUBLIC__/images/11.jpg" width="1200" height="500" thumb="" alt="版权属于作者，图片4来源于网络" text="图片4更详细的描述文字" /></a></li>
                        <li><a href="pro.aspx"><img src="__PUBLIC__/images/22.jpg" width="1200" height="500" thumb="" alt="版权属于作者，图片4来源于网络" text="图片4更详细的描述文字" /></a></li>
                        <li><a href="pro.aspx"><img src="__PUBLIC__/images/33.jpg" width="1200" height="500" thumb="" alt="版权属于作者，图片4来源于网络" text="图片4更详细的描述文字" /></a></li>



                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </div>

<script type="text/javascript">
    $('#myFocus').myFocus({
        pattern:'mF_tbhuabao',//风格应用的名称
        time:3,//切换时间间隔(秒)
        trigger:'click',//触发切换模式:'click'(点击)/'mouseover'(悬停)
        width:1200,//设置图片区域宽度(像素)
        height:500,//设置图片区域高度(像素)
        txtHeight:'0'//文字层高度设置(像素),'default'为默认高度，0为隐藏
    });
</script>



    <div class="sypro">


        <foreach name="product_info" item="val">

            <div class="sypro_a" onmouseover="this.className='sypro_aa'" onmouseout="this.className='sypro_a'">
                <div class="pronr">
                    <div><a href="{:U('show_product_detail')}?product_id={$val.product_id}"><img src="/Uploads/product/{$val.product_id}/{$val.pic_name}" width="270" height="220" /></a></div>
                    <p> <a href="pro.aspx">{$val.title}</a> </p>


                </div>
            </div>


        </foreach>


        <div style=" clear:both;"></div>
    </div>



<script type="text/javascript" src="http://www.highdart.com/js/pattern/mF_tbhuabao.js"></script>

<include file="footer"/>





