<include file="header"/>


<div class="nrong">

    <div class="nrong_1">
        <div style="margin-bottom:3px;"></div>

        <div class="ndh">

            <ul>

                <li><a title="公司概况"  href="#" id="141"><p>  </p></a></li>

            </ul>

        </div>



    </div>
    <div class="nong_2"></div>



    <div class="nrong_3">


        <div style=" line-height:24px; text-align:left; padding:20px 5px 15px 10px;">

            厦门伟格电子科技有限公司，是一家集研发，生产，销售为一体的高新技术企业。我们一直致力于汽车领域配套电子产品的研发，近年来随着汽车轮胎压力监测系统产品（TPMS）的热销，我们的研发团队在技术手进行不断创新，选用国外进口顶级元器件，以稳定的品质上赢得了广大客户的赞许。
            公司本着“专业生产、专业销售、专业服务”的经营方针，公司主要面向21世纪市场的汽车安全系统，不断推出更多的新品，完善产品销售体系，树立起全新的汽车电子产品品牌，在全国各区域内组建了1000多个完善的销售网络。公司始终贯彻“质量成就未来”的企业文化，以“客户的利益、用户的满意”为公司的服务宗旨，以“开发需求、服务顾客”为公司的经营理念，不断开拓进取、精益求精。



        </div>
    </div>


<include file="footer"/>
