
<include file="header"/>

<div class="nrong">

    <div class="nrong_1">
        <div style="margin-bottom:3px;"></div>

        <div class="ndh">

            <ul>

                <li><a title="公司概况"  href="#" id="141"><p>  </p></a></li>

            </ul>

        </div>



    </div>
    <div class="nong_2"></div>



<div class="nrong_3">

    <div class="dq">

        <p class="dq_l">





        </p>



        <div style=" clear:both;"></div>

    </div>


    <div style=" line-height:24px; text-align:left; padding:20px 5px 15px 10px;">

        <div class="title" style="color: rgb(51, 51, 51); margin: 10px; font-family: Arial; text-align: center;">
            <h3 style="margin: 0px; padding: 0px; line-height: 36px; font-size: 28px;">company profile</h3>
        </div>
        <div class="content" style="color: rgb(51, 51, 51); font-family: Arial;">

            <div style="margin: 0px 0px 16px; padding: 0px; line-height: 26px; font-size: 14px; text-indent: 2em;">→We lighting was found in 2006, locates in Henglan Town, Zhongshan City, Guangdong Province, which is the capital of Lighting in China.

                It has over 10 years experience in lighting manufacture and exporting. Its products include home-using chandelier, crystal lamp, ceiling lamp, wall lamp, and floor lamp etc.

                All products have passed CE, RoHS Approval and Standard. The products are exported to many countries and regions, such as Europe, Asia, Africa, Middle East, America and others.

                We enjoy a highly good reputation internationally in the line of Lighting because of the fashionable, simple, elegant design, good price and better quality.

                We will do our best to make a win-win between customer and us. In the future, we also are insisting on the brand "We lighting" to research and create more lamps to meet customers demand.

                We expect that we will create brighter future with those supporters who are attending, selling, and using We lighting's products

                </span><br>

            </div>
            <p style="margin: 0px 0px 16px; padding: 0px; line-height: 26px; font-size: 14px; text-indent: 2em;">
                <span style="font-size: 10.5pt;">　</span>
            </p>

        </div>



    </div>

</div>


</div>


<include file="footer"/>

</body>
</html>
