
<include file="header"/>

<div class="nrong">

    <div class="nrong_1">
        <div style="margin-bottom:3px;"></div>

        <div class="ndh"style="color: #0e90d2;">

            <ul style="margin-top: 120px;">

                <li style="width: 100%;">
                    <foreach name="group_info" item="val">

                    <p style="padding-left: 0; line-height: 40px; height: 40px; white-space: nowrap;">
                        <a href="{:U('show_product')}?group_id={$val.group_id}" style="color: #0e0e0e;">{$val.group_name}</a>

                    </p>
                        </foreach>
                </li>

            </ul>

        </div>



    </div>
    <div class="nong_2"></div>



    <div class="nrong_3">

        <div class="dq">

            <p class="dq_l">
            </p>


            <div style=" clear:both;"></div>

        </div>


        <foreach name="product_info" item="val">

            <div class="sypro_a" onmouseover="this.className='sypro_aa'" onmouseout="this.className='sypro_a'">
                <div class="pronr">
                    <div><a href="{:U('show_product_detail')}?product_id={$val.product_id}"><img src="/Uploads/product/{$val.product_id}/{$val.pic_name}" width="270" height="220" /></a></div>
                    <p > <a href="pro.aspx">{$val.title}</a> </p>


                </div>
            </div>


        </foreach>


    </div>

</div>


<include file="footer"/>

</body>
</html>
