
<include file="header"/>

<div class="nrong">

    <div class="nrong_1">
        <div style="margin-bottom:3px;"></div>

        <div class="ndh">

            <ul>

                <li><a title="公司概况"  href="#" id="141"><p>  </p></a></li>

            </ul>

        </div>



    </div>
    <div class="nong_2"></div>



    <div class="nrong_3">

        <div class="dq">

            <p class="dq_l">

                经营理念



            </p>



            <div style=" clear:both;"></div>

        </div>


        <foreach name="product_info" item="val">

            <div class="sypro_a" onmouseover="this.className='sypro_aa'" onmouseout="this.className='sypro_a'">
                <div class="pronr">
                    <div><a href="{:U('show_product_detail')}?product_id={$val.product_id}"><img src="/Uploads/product/{$val.product_id}/{$val.pic_name}" width="270" height="220" /></a></div>
                    <p> <a href="pro.aspx">{$val.title}</a> </p>


                </div>
            </div>


        </foreach>


    </div>

</div>


<include file="footer"/>

</body>
</html>
