

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="http://static.gcimg.net/sys/??wp/1.0.1/main.css,search/1.0.0/search-global.css" />
    <link rel="stylesheet" href="http://static.gcimg.net/shop/skin/t000/style.css" />
    <link rel="shortcut icon" href="//static.gcimg.net/favicon.ico" type="image/x-icon" />
    <link rel="alternate" media="only screen and(max-width: 640px)" href="http://m.gongchang.com/shop/heshitools/" >
    <meta name="mobile-agent" content="format=xhtml;url=http://m.gongchang.com/shop/heshitools/">
    <meta name="mobile-agent" content="format=html5;url=http://m.gongchang.com/shop/heshitools/">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script type="text/javascript" src="http://cbjs.baidu.com/js/m.js"></script>

    <link type="text/css" rel="stylesheet" href="//static.gcimg.net/assets/core/popup/1.0.0/css/popup_9549eaf.css" />
    <link type="text/css" rel="stylesheet" href="//static.gcimg.net/assets/sys/common/1.0.0/usertop_d923ba4.css" />
    <link type="text/css" rel="stylesheet" href="//static.gcimg.net/assets/sys/shop/1.0.0/css/style_0d7d914.css" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?1feded28e200c1f62aa6738cb40e9f68";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
        /* 这个放到商铺样式里 */
        .usertop .fir {
            width: auto;
        }

        .usertop .top-inner {
            width: 980px;
        }
    </style>
    <title>厦门睿智达有限公司|厦门睿智达有限公司网站</title>
    <link rel="dns-prefetch" href="//i.gongchang.com" />
    <link rel="dns-prefetch" href="//work.gongchang.com" />
    <link rel="dns-prefetch" href="//operator.gongchang.com" />
    <link rel="dns-prefetch" href="//op.gongchang.com" />
    <link rel="dns-prefetch" href="//product.gongchang.com" />
    <link rel="dns-prefetch" href="//x.gongchang.com" />
    <link rel="dns-prefetch" href="//company.gongchang.com" />
    <link rel="dns-prefetch" href="//home.gongchang.com" />
    <link rel="dns-prefetch" href="//seller.gongchang.com" />
    <link rel="dns-prefetch" href="//buyeruc.gongchang.com" />
    <link rel="dns-prefetch" href="//img10.cn.gcimg.net" />
    <link rel="dns-prefetch" href="//timg1.gcimg.net" />
    <meta content="厦门睿智达有限公司地址：厦门市悦华路163号-193号J-7店面，主营产品：护理工具,制冷工具,汽车美容养护工具,汽车工具,工具车,厦门睿智达有限公司联系方式：0592-2991222。" name="description"/>
    <meta content="厦门睿智达有限公司，引擎检测工具,轮胎护理工具,制冷工具,汽车美容养护工具,汽车工具,工具车" name="keywords"/>
</head>
<body>
<!--商铺头部及导航-->
    <div id="header">
        <!-- 企业头部-->
        <div class="mod mod-shopsigns">
            <div class="company fl">
                <div class="company-logo fl">
                    <a href="http://heshitools.cn.gongchang.com"> <img src="//timg1.gcimg.net/v1/pro/T1TECvBvVT1RCvBVdK.jpg" alt="" /></a>
                </div>
                <div class="company-name fl">
                    <h1 class="com-name">厦门睿智达有限公司<i class="qrcode qr-large"><a href="http://m.gongchang.com/shop/heshitools/"></a></i></h1>
                    <p class="com-pro">
                        <span>主营：</span>引擎检测工具、轮胎护理工具、制冷工具、汽车美容养护工具、汽车工具、工具车等
                    </p>
                </div>
            </div>
            <div class="call-num fr">
                <p class="call-number">
                    0592-2991222					</p>
            </div>
        </div>
        <!-- 企业头部结束-->
        <!-- 导航-->
        <div class="mod mod-topnav">
            <ul class="shop-nav">
                <li class="current"><a href="http://heshitools.cn.gongchang.com" title="首页">首页</a></li>
                <li ><a href="/about/" title="企业介绍">企业介绍</a></li>
                <li ><a href="/contact/" title="联系我们">联系我们</a></li>
            </ul>
        </div>
        <!--导航结束-->
        <!-- 图片轮播-->
        <div class="mod-theme">
            <div class="hotdoing-img">
                <!--加载图片层开始-->
                <ol class="hotdoing-photo">
                    <li>
                        <img src="http://static.gcimg.net/i/201510/F5MtXjs8Zb.jpg" alt="浙江何仕汽车工具有限公司">
                    </li>
                </ol>
                <!--加载图片层结束-->
                <!--按钮层开始-->
                <div class="hotdoing-button"></div>
                <!--按钮层结束-->
            </div>
        </div>
        <!--图片轮播结束--></div>
    <!--商铺头部及导航结束-->
    <div id="content">
        <!--左边主题板块-->
        <div class="grid-sub fl">
            
            <!--企业介绍-->
            <div class="mod mod-prointro">
                <div class="m-body">
                    <div class="m-header">
                        <h3>企业介绍</h3>
                    </div>
                    <div class="m-content">
                        <div class="prointro-list">
                            <ul>
                                <li><a href="/about/">企业简介</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--企业介绍结束-->
            <!--产品分类-->
            <div class="mod mod-proclass">
                <div class="m-body">
                    <div class="m-header">
                        <h3>产品分组</h3>
                    </div>
                    <div class="m-content">
                        <div class="proclass-list">
                            <ul>
                        <foreach name="group" item="group_id">
                                <li class="expand">
                                    <div class="side-sort-parent">
                                        <a href="{:U('home/default/show_group')}?group_id={$group_id.group_id}" title="">{$group_id.group_name}</a>
                                    </div>
                                </li>
                        </foreach>
                                <br><hr>
                                新建分组<br>
                                <form action="{:U('home/user/creat_group')}" method="post">
                                    <input type="text" name="group_name">
                                    
                                    <input type="submit" value="创建">
                                </form>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!--产品分类结束-->

            <!--左边相册-->
            <div class="mod mod-propicl">
                <div class="m-body">
                    <div class="m-header">
                        <h3>企业相册</h3>
                    </div>
                    <div class="m-content">
                        <div class="no-content"><p>暂无企业相册</p></div>

                    </div>
                </div>
            </div>
            <!--左边相册结束-->
            <!--友情链接-->
            <div class="mod mod-friendlink">
                <div class="m-body">
                    <div class="m-header">
                        <h3>友情链接</h3>
                    </div>
                    <div class="m-content">
                        <!-- 点金台用户用js输出友链，非点金台代码输出 -->
                        <div class="friendlink-list">
                            <ul>
                                <li>
                                    <a data-exposure="6579,167392,0" href="http://dgrunyuwujin.cn.gongchang.com/" title="东莞市常平润宇五金电子厂" target="_blank">东莞市常平润宇五金电子厂</a>
                                </li>


                            </ul>
                        </div>
                    </div><!-- m-content -->
                </div>
            </div>
            <!--友情链接结束-->
        </div>
        <!--左边主题板块结束-->
        <!-- 右面主题板块-->
        <div class="main-wrap fr">
            

            <!--最新产品-->
            <div class="mod mod-starpro">
                <div class="m-body">
                    <div class="m-header"><h3 title="产品展示">上传详情</h3></div>
                                
                            <form action="__URL__/upload_file" enctype="multipart/form-data" method="post">
                                
                                上传分组<br><select name="group">

                                    <volist name="group" id="group_info">
                                        <option value="{$group_info.group_id}">{$group_info.group_name}</option>
                                    </volist>
                                </select>
                                <br><hr><br>

                                <for start="0" end="$file_num"> 
                                <input type="file" name="pic{$i}"><br><hr><br>
                                </for>
                                <br>
                                <hr>
                                商品标题<br><textarea  name="title" cols="50" rows="4"></textarea><br><hr><br>
                                
                                <!-- 加载编辑器的容器 -->
                                商品描述<br>
                                 
                                <textarea  name="content" cols="80" rows="6"></textarea><br><hr><br>
                                <input type="submit" value="提交"><br>
                            </form>

                            <a href="__URL__/upload?file_num={$file_num+1}"><input type="button" value="添加上传文件数量" ></a><br>
                                                                   
                </div>
            </div>
            
            <div class="contactway-map" id="map">
                        <div id='commap'></div>
                        <script type="text/javascript" src="http://api.map.baidu.com/api?key=a4479f7f47bc5807fc999858afc3e8f9&v=1.1&services=true" ></script>
                        <script type="text/javascript">

                        //comid 公司ID  width height 地图宽高
                        //comMap();  显示地图信息用于动态显示
                        var comid=1,infos="",lat="",lng="",pro="",city="",width=728,height=420;
                        function init()
                        {
                                                comid= 167393;
                        pro  = "浙江省";
                        city = "";
                        zone = "";
                        address = "浙江省诸暨市次坞高速公速出口北100米";
                        infos = "<span style='font-size:12px;'>浙江何仕汽车工具有限公司<br/>浙江省浙江省诸暨市次坞高速公速出口北100米</span>";
                                                document.getElementById("commap").style.width  = "728px";
                        document.getElementById("commap").style.height = "420px";
                        }
                        //地图初使化
                        function initMap(sPoint,sZoom)
                        {
                            map = new BMap.Map("commap");
                            map.enableScrollWheelZoom();
                            if (typeof(sPoint) == "object" && typeof(sZoom) == "number")
                            {
                                point = sPoint;
                                map.centerAndZoom(point, sZoom);
                            } else
                            {
                                point = new BMap.Point(116.404, 39.915);
                                map.centerAndZoom(point, 13);
                                addMarker(point);
                            }
                            //添加精简控件
                            var opts = {type: BMAP_NAVIGATION_CONTROL_SMALL}
                            map.addControl(new BMap.NavigationControl(opts));
                        }

                        //添加标注
                        function addMarker(point)
                        {
                            // 创建标注
                            marker = new BMap.Marker(point);
                            map.addOverlay(marker);
                            marker.addEventListener('click', function(){openSaveInfo(infos);});

                        }
                        //保存坐标信息提示
                        function openSaveInfo(info)
                        {
                        if(typeof(info) == "undefined"){
                                tip = "";
                                if(map.getZoom() < 13)
                                {
                                    tip = "请放大地图后再进行操作<br />双击鼠标左键放大地图，点工具栏的缩小按钮缩小地图<br />";
                                }
                                info = "<center>如果位置不是您所需要的可以继续拖动标记！<br />"+tip+"位置已更改是否保存？<br /><br /><input type='button' value='是' onclick='saveLatLng();' /><input type='button' value='否' onclick='drags();' /></center>";
                            }
                        var infoWindow = new BMap.InfoWindow(info, {});
                        marker.openInfoWindow(infoWindow, map.getCenter());
                        }

                        function isEmptyObject(a) {
                            var b;
                            for (b in a)
                                return !1;
                            return !0
                        }
                        //地图搜索功能
                        function showAddress(keyword)
                        {
                        //搜索之前清除所有标注
                        //map.clearOverlays();
                            //想达到效果把map:map去掉 现在
                        var local = new BMap.LocalSearch(map, {renderOptions: {map: map,autoViewport:true,selectFirstResult:false},pageCapacity:1});
                            local.search(keyword);
                            //local.getResults();
                            local.setSearchCompleteCallback(function(searchResult){
                                    var poi = searchResult.getPoi(0);
                                    sPoint = poi.point;
                                    if(typeof(poi) == "undefined"){
                                        sPoint = point;
                                        alert("没有查找到您要搜索的内容！");
                                    } else {
                                        addMarker(poi.point);
                                    }
                            });
                            local.clearResults();
                            setTimeout(function(){
                                sZoom = map.getZoom();
                                initMap(sPoint, sZoom);
                                addMarker(sPoint);
                                openSaveInfo(infos);
                            },300);
                        }
                        //显示公司地图
                        function mapOP(lat, lng, companyname, zoomSize)
                        {
                        if (lng == "" && lat == "" || lng == 0 && lat == 0) {
                                //没有标注信息时的提示
                                info = "<center>请拖动此标记选择<strong>" + companyname + "</strong>的位置</center>";
                                point = map.getCenter();
                                //addMarker(point);
                                setTimeout(function(){openSaveInfo(info)},300);
                            } else {
                                //有标注信息时的操作 增加标注点
                                info = "" + companyname + "";
                                point = new BMap.Point(lng, lat);
                                map.centerAndZoom(point, zoomSize); 
                                addMarker(point);
                                openSaveInfo(info);
                            }
                        }
                        //根据公司信息显示地图
                        function comMap(pro,city,lng,lat,companyname,cid,zoomSize)
                        {
                            comid = cid;
                            if(typeof(zoomSize) == "undefined" || zoomSize == "" || zoomSize == 0){
                                zoomSize = 15;
                            }
                            initMap();
                            if(pro == '' && city == ''){
                                str = '中国';
                            } else {
                                str = pro + ' ' + city + ' ' + zone + ' ' + address;
                            }
                            if (lng == "" && lat == "" || lng == 0 && lat == 0) {
                                showAddress(str);
                            } else {
                                mapOP(lat,lng,companyname, zoomSize);
                            }
                        }
                        init();
                        comMap(pro,city,lng,lat,infos,comid);
                    </script>
                    </div>

            
           
            
            
            
        <!-- 右面主题板块结束-->
    </div>

    <!--商铺底部-->
    <div id="footer">
        <div class="shop-footerb">
            <div class="shop-footer">
                <!--关于我们-->
                <div class="foot-aboutus fl">
                    <h4 class="footer-contact1">关于我们</h4>
                    <div class="ft-abus">
                        <ul>
                            <li>
                                <a href="/about/"  target="_blank">企业简介</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- 主营产品-->
                <div class="foot-product fl">
                    <h4 class="footer-contact2">主营产品</h4>
                    <div class="ft-product">
                        <p>
                            引擎检测工具										轮胎护理工具										制冷工具										汽车美容养护工具										汽车工具										工具车										</p>
                    </div>
                </div>
                <!--联系我们-->
                <div class="foot-contact fl">
                    <h4 class="footer-contact3">联系我们</h4>
                    <div class="ft-contactus">
                        <p>厦门睿智达有限公司</p>
                        <p>地址：厦门市悦华路163号-193号J-7店面</p>
                        <p>电话：0592-2991222</p>
                    </div>
                </div>
                <!--技术支持-->
                <div class="foot-support fl">
                    <div class="ft-techsupport">
                        <p class="clf">
                            <img src="http://static.gcimg.net/i/201510/aagvJEFgZv.gif" alt="世界工厂网"/>
                            <span>技术支持：<a href="#" target="_blank">LEROLIN</a></span>
                            <span class="sup-buttom">Powered by lerolin</span>
                        </p>
                        <p class="record">
                            <span id='gc_com_runtime'>35.14ms</span>
                        </p>
                        <p class="f-stat"></p>
                        <div style="display:none;"></div>
                        <div style="display:none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--商铺底部结束-->
</div><!--//id="page-wrapper"-->






</body>

</html>
